/* CSS Document*/
body {
    background-color: #dacbd7;
    margin: 0px;
    padding: 0px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

section {
    width: 100%;
    height: 95vh;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #a1969b;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    padding: 0px 5%;

}

.container-logo {
    display: flex;
    gap: 20px;
}

nav ul {
    display: flex;
}

nav ul li a {
    margin: 30px;
    font-family: myriad pro regular;
    color: #505050;
    font-size: 15px;
    font-weight: 700;
}

.logo {
    font-family: RoadTest;
    color: #000000;
    font-size: 22px;
    font-weight: bold;
}

.small-text {
    font-family: "Special Elite", system-ui;
    font-size: 15px;
    font-weight: normal;
    color: black;
    text-align: center;
    margin-top: 5px;
}

.text-container p:nth-child(1) {
    font-family: "Salsa", cursive;
    font-weight: bold;
    color: #6a1575;
    font-size: 15px;
}

.text-container p:nth-child(2) {
    font-family: "Merienda", cursive;
    font-weight: bold;
    letter-spacing: 2px;
    color: #1a1a1a;
    font-size: 60px;
}

.text-container p:nth-child(3) {
    font-family: calibiri;
    color: #403e3e;
    font-size: 20px;
    line-height: 30px;
}

.text-container p {
    line-height: 0px;
    margin: 55px 0px 25px;
}

.text-container {
    position: absolute;
    left: 13%;
    top: 42%;
    transform: translate(-13%, -42%);
}

.justified-text {
    text-indent: 50px;
    text-align: justify;
}

.text-container button {
    width: 130px;
    height: 42px;
    border-radius: 10px;
    font-family: calibri;
    font-weight: bold;
    font-size: 14px;
    outline: none;
    margin: 0px 10px;
}

.hire-btn {
    background-color: #0b0b0b;
    color: #ffffff;
    border: none;
}

.down-cv {
    background-color: #0b0b0b;
    color: #ffffff;
    border: none;
}

button:active {
    transform: scale(1.1);
}

.model {
    height: 560px;
    position: absolute;
    bottom: 60px;
    left: 80%;
    transform: translateX(-70%);
}

.image>img{
    width: fit-content;
    padding-left: 5px;
    margin-left: 5px;
}
.image>img1{
    width: 450px;
    height: 250px;
}
.image>img2{
    width: 20px;
    height: 250px;
}
.image>img3{
    width: 450px;
    height: 250px;
}
.image>img4{
    width: 20px;
    height: 250px;
}
.image {
    display: flex;

}

footer p {
    font-family: calibri;
}

footer p:nth-child(1) {
    font-size: 30px;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 10px;
}

footer p:nth-child(2) {
    font-size: 16px;
    color: #ffffff;
    width: 600px;
    text-align: center;
}

footer {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #a1969b;
}

.social-icons a {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 10px;
    border-radius: 50%;
}

.social-icons {
    display: flex;

}

.social-icons i,
.social i {
    color: #000000;
}

.social-icons a:hover {
    background-color: #818181;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    transition: all ease 0.5s;
}

.social-icons a:hover i,
.social a:hover i {
    color: #ffd900;
    transition: all ease 0.5s;
}

.copyright {
    color: rgb(255, 249, 249);
    font-size: 15px;
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
}

.social {
    position: fixed;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
}